@mixin clearfix() {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin wrapper() {
	min-width: 900px;
	max-width: 1200px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 20px;
}

@mixin link() {
	position: relative;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	&:hover {
		color: #ec593c;
		border-color: rgba(236, 89, 60, 0.3);
	}
}

@mixin text-input() {
	height: 40px;
	padding: 10px;
	box-sizing: border-box;
	font-family: $main-font;
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #d3d3d2;
	border-radius: 3px;
	outline: none;
	&:hover {
		padding: 9px;
		border-width: 2px;
	}
	&:focus {
		padding: 9px;
		border: 2px solid #8fbdec;
	}
}

@mixin animation-show {
	@keyframes show {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	animation-name: show;
	animation-duration: .5s;
}