.news {
	float: left;
	width: 48.84%;
	min-height: 230px;
	margin-bottom: 40px;
	padding: 25px 20px;
	box-sizing: border-box;
	border-radius: $border-radius;
	background: url("../img/strawberry.jpg") no-repeat;
	background-size: cover;
}

.news__title {
	margin: 0;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 19px;
	color: #5a5a5a;
}

.news__link {
	font-size: 24px;
	font-weight: bold;
	line-height: 29px;
	color: #353535;
	&:hover {
		color: #ec593c;
	}
}