.page-header {
	@include wrapper;
	@include clearfix;
	font-size: 0;
}

.page-header__logo {
	display: inline-block;
	vertical-align: middle;
}

.page-header__contacts {
	display: inline-block;
	float: right;
	clear: both;
	text-align: right;
	vertical-align: middle;
}

.page-header__schedule {
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	color: #ffffff;
}

.page-header__phone {
	display: block;
	font-size: 22px;
	font-weight: bold;
	line-height: 26px;
	text-decoration: none;
	color: #ffffff;
}