.slider {
	position: relative;
	@include wrapper;
}

.slider__toggles {
	position: absolute;
	bottom: 70px;
	left: 20px;
	font-size: 0;
}

.slider__toggle {
	display: inline-block;
	width: 21px;
	height: 21px;
	margin-right: 8px;
	border: 3px solid #ffffff;
	border-radius: 50%;
	transition: all .3s;
	cursor: pointer;
	&:hover {
		background-color: #b2c1b7;
	}
}

.slider__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider__item {
	@include animation-show;
	display: none;
	width: 700px;
	min-height: 585px;
	margin: 0 auto;
	text-align: center;
	h1 {
		margin: 0;
		margin-top: -280px;
		margin-bottom: 40px;
		font-size: 60px;
		font-weight: 900;
		line-height: 61px;
		color: #ffffff;
	}
}